<!DOCTYPE html>
<html>
<head>
  <title>Giraph</title>
  <%= stylesheet_link_tag    "giraph/application", :media => "all" %>
  <%= javascript_include_tag "giraph/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
